<configuration>
	<configSections>
		<sectionGroup name="system.web">
		</sectionGroup>
	</configSections>

	<system.web>
		<sessionState cookieless="false" mode="InProc" timeout="6000" />
		<pages validateRequest="false" />
        <customErrors mode="Off" defaultRedirect="customfault.htm" />
		<compilation debug="true" />
	</system.web>
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="9999" />
	</appSettings>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>