.d			{FONT-WEIGHT:300;FONT-SIZE:8PT;TEXT-DECORATION:none;FONT-FAMILY:verdana,helvetica,arial;COLOR:#000000;}
.m			{TEXT-DECORATION:none;background-color:#EEEEEE;border-bottom: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #000000;border-top: 1px solid #000000;}
a.d:hover 	{COLOR:#FF0000;TEXT-DECORATION:none;}